@import 'layout';

.answerbox{
  padding: 2rem;
  margin-top: 2rem;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.86);
  border-radius: 10px 10px 10px 10px;

  .qq{
    font-family: $con-style;
    font-size: 24px;
  }
  input{
    padding: 0.2rem 7.6rem 3rem 0.6rem;
    margin-bottom: 1rem;
  }
}