.header{
  background: url('/static/img/banner.jpg'),linear-gradient(90deg,#25b8cb,#7ac276);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}