$con-style: 'Varela Round', sans-serif;
$icon-style: 'Abril Fatface', cursive;
$heading-style: 'Bree Serif', serif;

html, body {
    background-color: #F3F3F3;
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
  .navbar-dark .navbar-brand{
  color: orange;
  font-family: $icon-style;
  }
  .navbar-dark .navbar-nav .nav-link{
    color:#fff;
  }
}

footer{
  width: 100%;
  margin-top: 4rem;
  background-color: #343a40!important;
  .list{
    padding-top: 1.5rem;
    ul {
      list-style: none;
      li{
        color: white;
      }
    }
    .hd {
      font-family: $con-style;
      font-size: 1.2rem;
    }
  }
  .sec3{
    text-align: center;
    a{
      text-decoration: none;
      color: orange;
      &:hover{
        text-decoration: line-through;
      }
    }
  }
  small{
    color: papayawhip;
  }
}
.clearfix {
    padding: 20px;
}