{% extends 'layout.html'%}
{% block title%}
<title>Askme</title>
{% endblock %}

{% block links%}
  <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
{% endblock %}

{% block con%}
<div class="header">
  <h1>Ask an expert. Trust the answer.</h1>
  <p>Your academic and career questions answered by verified experts.</p>
  <a href="#"><button type="button" class="btn btn-light btn-lg">Ask A Question?</button></a>
</div>

<div class="selection">
  <form action="/" method="POST"> 
    <select name="selection">
      <option value="SL">Select Questions</option>
      <option value="ALQ">All Questions</option>
      <option value="AQ">Answered Questions</option>
      <option value="UQ">Unanswered Questions</option>
    </select>
    <button>submit</button>
  </form>
</div>

<div class="qna">
  {% for question in questions%}
    <div class="question">
      <p class="mb-1" style="color:black">@{{question.qna.username}} asked </p>
      <small>{{question.dateposted.strftime("%b %d %Y %H:%M:%S")}}</small>
      <p>{{question.question}}</p>
      
      <p>answer - {{question.answer}}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}