{% extends 'layout.html'%}
{% block title%}
<title>Questions</title>
{% endblock %}

{% block links%}
<link rel="stylesheet" href="{{url_for('static',filename='question.css')}}">
{% endblock %}


{% block con%}
<div class="questions">
  {% for log in logs%}
  <div class="qq">
    <p class="mb-1" style="color:black">@{{log.qna.username}} asked</span> on
    <small>{{log.dateposted.strftime("%b %d %Y %H:%M:%S")}}</small></p>
    <p class="user-q">{{log.question}}</p>
    <a href="/answer/{{log.id}}"><button class="btn btn-primary">Answer</button></a>
    <hr>
  </div>
  {%endfor%}
</div>
{% endblock%}